<!DOCTYPE html>
<html lang="en">
<head>
        <%- include('includes/head') %>
        <link rel="stylesheet" href="/styles/beverages_styles.css">
        <link rel="stylesheet" href="/styles/beverages_banner_and_products_styles.css">
</head>
<body>
        <!-- Navigation bar -->
        <%- include('includes/header') %>
        <%- include('includes/aside') %> 

        <main>
                <%- include('includes/beverages_banner') %>
                <%- include('includes/beverages_scroll_tiles') %>
        </main>

        <!-- Footer -->
        <%- include('includes/footer') %> 
</body>
</html>