<!DOCTYPE html>
<html lang="en">
<head>
        <%- include('includes/head') %>
        <link rel="stylesheet" href="/styles/car_services_styles.css">
        
</head>
<body>
        <!-- Navigation bar -->
        <%- include('includes/header') %>
        <%- include('includes/aside') %> 

        <main>
                <%- include('includes/car_services_banner') %> 
                
                <%- include('includes/car_services_scroll_tile') %> 

        </main>

        <!-- Footer -->
        <%- include('includes/footer') %>
</body>
</html>