<!DOCTYPE html>
<html lang="en">
<head>
        <%- include('includes/head') %>
        <link rel="stylesheet" href="/styles/cereals_styles.css">
</head>
<body>
        <!-- Navigation bar -->
        <%- include('includes/header') %>

        <main>
                <%- include('includes/cereals_banner') %> 
                <%- include('includes/cereals_scroll_tile') %>
        </main>

        <!-- Footer -->
        <%- include('includes/footer') %> 
</body>
</html>