<!DOCTYPE html>
<html lang="en">
<head>
        <%- include('includes/head') %>
                <link rel="stylesheet" href="/styles/beverages_styles.css">
                <link rel="stylesheet" href="/styles/grains_styles.css">
                <link rel="stylesheet" href="/styles/cereals_styles.css">
                <link rel="stylesheet" href="/styles/cashew_styles.css">
                <link rel="stylesheet" href="/styles/car_services_styles.css">
                <link rel="stylesheet" href="/styles/building_products_style.css">
        </meta>
</head>
<body>
        <!-- Navigation bar -->
        <%- include('includes/header') %>
        

        <main>
                <!-- Cashew banner and like products -->
                <div class="cashew_banner_and_products_bg">
                        <%- include('includes/cashew_banner') %> 
        
                        <div>
                                <h1>       
                                        <span class="h1_text">Cashew</span>
                                        <span class="store_description">Feel the local boom in production</span>
                                </h1>
                        </div>
        
                        <%- include('includes/cashew_scroll_tiles') %>

                </div>

                <!-- Beverages banner and like products -->
                <div class="beverages_banner_and_products_bg">
                        <%- include('includes/beverages_banner') %>
        
                        <div>
                                <h1>       
                                        <span class="h1_text">Beverages</span>
                                        <span class="store_description">Find your taste.</span>
                                </h1>
                        </div>
        
                        <%- include('includes/beverages_scroll_tiles') %>

                </div>
                
                <!-- Grains banner and like products -->

                <div class="grains_banner_and_products_bg">
                        <%- include ('includes/grains_banner') %> 
        
                        <div>
                                <h1>       
                                        <span class="h1_text">Grains </span>
                                        <span class="store_description">Lets help get you your seeds.</span>
                                </h1>
                        </div>
                        <%- include ('includes/grains_scroll_tile') %>              
                </div>

                <!-- Cereals banner and like products -->
                <div class="cereals_banner_and_products_bg">
                        <%- include ('includes/cereals_banner') %> 
        
                        <div>
                                <h1>       
                                        <span class="h1_text">Cereals </span>
                                        <span class="store_description">All your seeds in one place</span>
                                </h1>
                        </div>
                        <%- include ('includes/cereals_scroll_tile') %>              
                </div>

                <!-- Building Products banner and like products -->

                <div class="cereals_banner_and_products_bg">
                        <%- include ('includes/building_products_banner') %> 
        
                        <div>
                                <h1>       
                                        <span class="h1_text">Building Products</span>
                                        <span class="store_description">Lets help you build your home</span>
                                </h1>
                        </div>
                        <%- include ('includes/building_products_scroll_tiles') %>              
                </div>

                <!-- Car Services banner and like products -->

                <div class="car_services_banner_and_products_bg">
                        <%- include ('includes/car_services_banner') %> 
        
                        <div>
                                <h1>       
                                        <span class="h1_text">Car Services</span>
                                        <span class="store_description">Lets show your car some love</span>
                                </h1>
                        </div>
                        <%- include('includes/car_services_scroll_tile') %>               
                </div>

        </main>

        <!-- Footer -->

        <%- include('includes/footer') %> 
</body>
</html>